<%layout("layouts/shopLayout") %>
<div class="card">
    <div class="card-body">
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quasi ducimus at iusto tempora architecto est temporibus excepturi cupiditate ipsa fugiat non, maxime deleniti fuga et nam commodi doloribus. Laborum?
       Nesciunt voluptatibus repellat praesentium expedita culpa illo neque explicabo aut unde? Non perspiciatis illum adipisci perferendis, molestias sint officia dolorum neque veritatis. Quam minima soluta commodi natus excepturi? Aliquid, fugit.
       Consequuntur eaque, pariatur quidem distinctio exercitationem nemo fuga molestiae neque modi aperiam at perspiciatis vel numquam iusto odit consectetur doloribus recusandae nesciunt iste culpa itaque cum aliquid. Distinctio, fuga nesciunt?
       Nisi quidem earum beatae accusantium necessitatibus exercitationem sunt accusamus. Porro nesciunt incidunt consectetur, explicabo earum numquam, dolor nam nulla, id quidem quis reprehenderit animi odio optio aut. Tenetur, amet exercitationem.
       Explicabo quidem voluptates aut, voluptate voluptas esse temporibus architecto voluptatibus quaerat labore, vitae error dignissimos aperiam eum. At excepturi in voluptas vel magni magnam, ducimus porro aliquam perspiciatis. Esse, vero.
       Aliquam nam inventore provident ducimus, alias laboriosam obcaecati nobis. Nesciunt maiores, nam itaque in ea eos ratione consequuntur maxime vel eligendi, facilis corrupti. Suscipit qui corrupti quos, blanditiis ea recusandae?
       Fugiat rerum maiores at quaerat accusantium expedita nemo accusamus alias reprehenderit commodi eveniet optio nulla vitae ab a et pariatur corporis deserunt nesciunt provident, neque quisquam similique? Velit, ullam veritatis.
       Quae accusantium eos eligendi sint autem esse doloremque maxime reprehenderit possimus eius, accusamus at quibusdam atque nulla assumenda qui facilis, deserunt earum debitis tempore mollitia sapiente quaerat? Libero, voluptatibus ipsum.
       Dignissimos id reiciendis dolores! Rerum quo nulla cupiditate obcaecati numquam voluptatum minus alias in a, facilis quaerat maiores cum assumenda? Enim esse possimus sit explicabo veniam fugiat sapiente dicta nam.
       Suscipit sunt quis natus repudiandae tenetur voluptates dicta quam culpa praesentium ea? Ipsa autem itaque quidem quas blanditiis nihil, explicabo doloremque deleniti natus. Labore consequatur illo dolor itaque optio debitis.
    </div>
</div>