<footer class="py-5 bg-dark mt-auto">
    <div class="container d-flex justify-content-between">
        <p class="m-0 text-white">Bản quyền thuộc &copy; Bookadoodle 2022</p>
        <p class="m-0">
            <a href="/dieu-khoan" class="text-decoration-none text-muted">Điều khoản & Chính sách</a>
        </p>
    </div>
    <div class="container">
        <a href="https://github.com/thawsgnotwjbu3103" class="text-white text-decoration-none" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github fa-xl"></i>
        </a>
    </div>
</footer>
