<footer class="py-4 bg-dark mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Bản quyền thuộc &copy; Bookadoodle 2022</div>
            <div>
                <a href="#" class="text-muted text-decoration-none">Chính sách riêng tư</a>
                &middot;
                <a href="#" class="text-muted text-decoration-none">Điều khoản &amp; Điều kiện</a>
            </div>
        </div>
    </div>
</footer>